@(navbar : Html, footer: Html)
<!DOCTYPE html>
<html lang="en" ng-app="scout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="scout.ico">

    <title>Scout</title>

    <base href="/" />

    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("bower_components/bootstrap/dist/css/bootstrap.css")' />

    <!--Custom styles for this template -->
    <link href='@routes.Assets.at("css/scout.css")' rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    @navbar
</nav>

<div class="container" <div ng-controller="BreadcrumbsController">
    <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
</div>

<div id="buttstallion" class="container">
  <div class="row">
      <div class="col-xs-12 ng-view"></div>
    </div>
</div><!-- /.container -->

<footer class="footer">
    @footer
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src='@routes.Assets.at("bower_components/jquery/dist/jquery.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("bower_components/bootstrap/dist/js/bootstrap.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("bower_components/angular/angular.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("bower_components/angular-route/angular-route.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/scout.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/scout.config.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/scout.routes.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/layout/layout.module.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/layout/controllers/index.controller.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/nodes/nodes.module.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/nodes/controllers/nodes.controller.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/nodes/services/nodes.service.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/nodes/directives/node.directive.js")'></script>

<script type="text/javascript" src='@routes.Assets.at("javascripts/utils/utils.module.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/utils/controllers/breadcrumbs.controller.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("javascripts/utils/directives/breadcrumbs.directive.js")'></script>

</body>
</html>
